<a href="https://colab.research.google.com/github/geekytaurus115/Survival-Analysis/blob/main/Football_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import http.client
import json

connection = http.client.HTTPConnection('api.football-data.org')
headers = {'X-Auth-Token': '7bb329a7cc2847c5b7441cc8ad6b2451'}
connection.request(
    'GET', '/v2/competitions/PL/matches', None, headers)
response = json.loads(connection.getresponse().read().decode())

                         
print(response)

In [ ]:
#print(type(response))

In [2]:
my_res1 = {
    "startDate" : response["matches"][0]["season"]["startDate"],
    "endDate" : response["matches"][0]["season"]["endDate"],
    "homeTeam" : response["matches"][0]["homeTeam"]["name"],
    "awayTeam" : response["matches"][0]["awayTeam"]["name"],
    "status" : response["matches"][0]["status"],
    "homeTeamScore" : response["matches"][0]["score"]["fullTime"]["homeTeam"],
    "awayTeamScore" : response["matches"][0]["score"]["fullTime"]["awayTeam"],
    "result" : response["matches"][0]["score"]["winner"]
}

In [3]:
#print(my_res1)

In [ ]:
for key, value in response.items():
  print(key)

In [5]:
for key, value in response.items():
  if(key == "matches"):
    print(type(value))
    match_list = value

<class 'list'>

In [ ]:
print(match_list)

In [ ]:
print(match_list[0])
print(type(match_list[0]))

In [ ]:
print(len(match_list))

In [6]:
final_list = []
for i in range(len(match_list)):
  dict_for_eachMatch = {
      "startDate" : match_list[i]["season"]["startDate"],
      "endDate" : match_list[i]["season"]["endDate"],
      "date" : match_list[i]["utcDate"],
      "homeTeam" : match_list[i]["homeTeam"]["name"],
      "awayTeam" : match_list[i]["awayTeam"]["name"],
      "status" : match_list[i]["status"],
      "homeTeamScore" : match_list[i]["score"]["fullTime"]["homeTeam"],
      "awayTeamScore" : match_list[i]["score"]["fullTime"]["awayTeam"],
      "result" : match_list[i]["score"]["winner"]

  }
  final_list.append(dict_for_eachMatch)

In [ ]:
print(final_list)

In [7]:
import csv

keys = final_list[0].keys()

with open('match_data.csv', 'w', newline='') as output_file:
    dict_writer = csv.DictWriter(output_file, keys)
    dict_writer.writeheader()
    dict_writer.writerows(final_list)

## Data Preparation and cleaning

In [8]:
import pandas as pd

In [10]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [11]:
path = "/content/drive/MyDrive/Colab Notebooks/match_data.csv"
df = pd.read_csv(path)

In [12]:
df

,date,homeTeam,awayTeam,status,homeTeamScore,awayTeamScore,result
0,2021-08-13T19:00:00Z,Brentford FC,Arsenal FC,FINISHED,2.0,0.0,HOME_TEAM
1,2021-08-14T11:30:00Z,Manchester United FC,Leeds United FC,FINISHED,5.0,1.0,HOME_TEAM
2,2021-08-14T14:00:00Z,Watford FC,Aston Villa FC,FINISHED,3.0,2.0,HOME_TEAM
3,2021-08-14T14:00:00Z,Leicester City FC,Wolverhampton Wanderers FC,FINISHED,1.0,0.0,HOME_TEAM
4,2021-08-14T14:00:00Z,Everton FC,Southampton FC,FINISHED,3.0,1.0,HOME_TEAM
...,...,...,...,...,...,...,...
375,2022-05-22T15:00:00Z,Chelsea FC,Watford FC,SCHEDULED,NaN,NaN,NaN
376,2022-05-22T15:00:00Z,Burnley FC,Newcastle United FC,SCHEDULED,NaN,NaN,NaN
377,2022-05-22T15:00:00Z,Brighton & Hove Albion FC,West Ham United FC,SCHEDULED,NaN,NaN,NaN
378,2022-05-22T15:00:00Z,Brentford FC,Leeds United FC,SCHEDULED,NaN,NaN,NaN
379,2022-05-22T15:00:00Z,Arsenal FC,Everton FC,SCHEDULED,NaN,NaN,NaN

In [13]:
df.columns

Index(['date', 'homeTeam', 'awayTeam', 'status', 'homeTeamScore',
       'awayTeamScore', 'result'],
      dtype='object')

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           380 non-null    object
 1   homeTeam       380 non-null    object
 2   awayTeam       380 non-null    object
 3   status         380 non-null    object
 4   homeTeamScore  341 non-null    float64
 5   awayTeamScore  341 non-null    float64
 6   result         341 non-null    object
dtypes: float64(2), object(5)
memory usage: 20.9+ KB

In [15]:
df.dropna()

,date,homeTeam,awayTeam,status,homeTeamScore,awayTeamScore,result
0,2021-08-13T19:00:00Z,Brentford FC,Arsenal FC,FINISHED,2.0,0.0,HOME_TEAM
1,2021-08-14T11:30:00Z,Manchester United FC,Leeds United FC,FINISHED,5.0,1.0,HOME_TEAM
2,2021-08-14T14:00:00Z,Watford FC,Aston Villa FC,FINISHED,3.0,2.0,HOME_TEAM
3,2021-08-14T14:00:00Z,Leicester City FC,Wolverhampton Wanderers FC,FINISHED,1.0,0.0,HOME_TEAM
4,2021-08-14T14:00:00Z,Everton FC,Southampton FC,FINISHED,3.0,1.0,HOME_TEAM
...,...,...,...,...,...,...,...
336,2022-04-30T14:00:00Z,Wolverhampton Wanderers FC,Brighton & Hove Albion FC,FINISHED,0.0,3.0,AWAY_TEAM
337,2022-04-30T16:30:00Z,Leeds United FC,Manchester City FC,FINISHED,0.0,4.0,AWAY_TEAM
338,2022-05-01T13:00:00Z,Everton FC,Chelsea FC,FINISHED,1.0,0.0,HOME_TEAM
339,2022-05-01T13:00:00Z,Tottenham Hotspur FC,Leicester City FC,FINISHED,3.0,1.0,HOME_TEAM
340,2022-05-01T15:30:00Z,West Ham United FC,Arsenal FC,FINISHED,1.0,2.0,AWAY_TEAM

In [20]:
df = df.replace(['HOME_TEAM'], 1)
df = df.replace(['DRAW'], 0)
df = df.replace(['AWAY_TEAM'], 2)

In [21]:
X = df.iloc[:,[1,2]].values
Y = df.iloc[:,-1].values

In [22]:
Y

array([ 1.,  1.,  1.,  1.,  1.,  1.,  2.,  2.,  2.,  1.,  1.,  1.,  0.,
        0.,  1.,  1.,  2.,  0.,  2.,  1.,  1.,  0.,  2.,  0.,  2.,  0.,
        0.,  1.,  0.,  2.,  1.,  2.,  0.,  1.,  2.,  2.,  1.,  1.,  2.,
        1.,  0.,  2.,  2.,  0.,  1.,  2.,  1.,  2.,  1.,  2.,  2.,  2.,
        0.,  0.,  2.,  1.,  0.,  2.,  1.,  0.,  0.,  1.,  1.,  1.,  0.,
        0.,  2.,  1.,  0.,  0.,  2.,  1.,  0.,  1.,  1.,  2.,  2.,  2.,
        2.,  0.,  1.,  1.,  0.,  0.,  2.,  0.,  2.,  1.,  2.,  2.,  2.,
        2.,  2.,  2.,  0.,  1.,  2.,  2.,  2.,  1.,  1.,  2.,  1.,  0.,
        2.,  0.,  0.,  0.,  1.,  1.,  2.,  1.,  1.,  1.,  0.,  0.,  1.,
        1.,  1.,  1.,  1.,  0.,  1.,  2.,  0.,  1.,  1.,  1.,  0.,  0.,
        1.,  0.,  0.,  0.,  2.,  2.,  2.,  1.,  1.,  1.,  2.,  0.,  1.,
        2.,  1.,  1.,  0.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  2.,  1.,
        0.,  1.,  2.,  1.,  0.,  2.,  1.,  0.,  1.,  2.,  0.,  2.,  0.,
        2.,  1.,  2.,  1.,  2.,  1.,  0.,  1.,  2.,  0.,  1.,  0.,  2.,
        1.,  2.,  2.,  2.,  1.,  2.,  1.,  0.,  2.,  1.,  1.,  0.,  1.,
        1.,  1.,  0.,  0.,  2.,  1.,  0.,  2.,  2.,  2.,  2.,  1.,  2.,
        2.,  0.,  0.,  2.,  0.,  1.,  0.,  1.,  1.,  0.,  1.,  2.,  0.,
        0.,  1.,  2.,  0.,  2.,  1.,  0.,  2.,  2.,  1.,  2.,  0.,  1.,
        0.,  1.,  1.,  2.,  2.,  2.,  1.,  2.,  2.,  1.,  2.,  1.,  1.,
        1.,  1.,  2.,  0.,  0.,  2.,  2.,  2.,  1.,  2.,  1.,  2.,  2.,
        1.,  2.,  1.,  1.,  2.,  1.,  1.,  1.,  2.,  2.,  2.,  2.,  1.,
        1.,  1.,  2.,  1.,  2.,  1.,  1.,  0.,  2.,  2.,  1.,  2.,  2.,
        1.,  1.,  1.,  0.,  2.,  2.,  0.,  1.,  0.,  1.,  1.,  1.,  1.,
        1.,  1.,  2.,  2.,  2.,  2.,  1.,  1.,  1.,  0.,  2.,  1.,  1.,
        2.,  1.,  0.,  1.,  0.,  1.,  2.,  1.,  1.,  1.,  0.,  1.,  2.,
        0.,  0.,  1.,  1.,  1.,  0.,  0.,  2.,  1.,  2.,  2.,  2.,  2.,
        1.,  1.,  2., nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan])